/* Header styles */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 999;
  
    /* Button in header styles */
    .button {
      float: right;
      margin-top: 15px;
      margin-right: 20px;
      width: 120px;
    }
}

/* User Login styles */
.user-login {
    float: right;
}